<div class="container">
    <div class="row">
        <h3>Welcome {{ name }}</h3><br>
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Show Only {{ onlyOdd ? 'Even' : 'Odd'}}
                Numbers</button>
            <br><br>
            <div *ngIf="onlyOdd">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let item of oddNos" [ngClass]="{odd: item % 2 != 0}"
                        [ngStyle]="{backgroundColor: item % 2 != 0 ? 'Gray' : 'transparent'}">{{ item }}
                    </li>
                </ul>
            </div>
            <div *appUnless="onlyOdd">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let item of oddNos" [ngClass]="{odd: item % 2 != 0}"
                        [ngStyle]="{backgroundColor: item % 2 != 0 ? 'Gray' : 'transparent'}">{{ item }}
                    </li>
                </ul>
            </div>
            <div *ngIf="!onlyOdd">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let item of evenNos" [ngClass]="{even: item % 2 == 0}"
                        [ngStyle]="{backgroundColor: item % 2 == 0 ? 'White' : 'transparent'}">
                        {{ item }}
                    </li>
                </ul>
            </div>
            <ng-template [ngIf]="!onlyOdd">
                <div>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let item of evenNos" [ngClass]="{even: item % 2 == 0}"
                            [ngStyle]="{backgroundColor: item % 2 == 0 ? 'White' : 'transparent'}">
                            {{ item }}
                        </li>
                    </ul>
                </div>
            </ng-template>
            <div [ngSwitch]="value">
                <div *ngSwitchCase=1>One</div>
                <div *ngSwitchCase=2>Two</div>
                <div *ngSwitchCase=3>Three</div>
                <div *ngSwitchDefault>I Don't have any thing to show</div>
            </div>
            <br>
            <p appBasicHeighlight>This is custom directives</p>
            <p appBetterHeighlight [defaultColor]="'yellow'" [heighlightColor]="'green'">This is custom directives</p>

        </div>
    </div>
</div>